## Application: 2000/2010 Political Campaign Contributions by Race

Using ethnicolr, we look to answer three basic questions:
<ol>
<li>What proportion of contributions were made by blacks, whites, Hispanics, and Asians? 
<li>What proportion of unique contributors were blacks, whites, Hispanics, and Asians?
<li>What proportion of total donations were given by blacks, whites, Hispanics, and Asians?
</ol>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/opt/names/fec_contrib/contribDB_2000.csv', nrows=100)
df.columns

Index([u'cycle', u'transaction_id', u'transaction_type', u'amount', u'date',
       u'bonica_cid', u'contributor_name', u'contributor_lname',
       u'contributor_fname', u'contributor_mname', u'contributor_suffix',
       u'contributor_title', u'contributor_ffname', u'contributor_type',
       u'contributor_gender', u'contributor_address', u'contributor_city',
       u'contributor_state', u'contributor_zipcode', u'contributor_occupation',
       u'contributor_employer', u'contributor_category',
       u'contributor_category_order', u'is_corp', u'organization_name',
       u'parent_organization_name', u'recipient_name', u'bonica_rid',
       u'recipient_party', u'recipient_type', u'recipient_state',
       u'recipient_category', u'recipient_category_order',
       u'recipient_district', u'seat', u'election_type',
       u'contributor_cfscore', u'candidate_cfscore', u'latitude', u'longitude',
       u'gis_confidence', u'contributor_district_90s',
       u'contributor_district_00s', u'contributor_district_10s',
       u'lname_frequency', u'efec_memo', u'efec_memo2',
       u'efec_transaction_id_orig', u'efec_org_orig', u'efec_comid_orig',
       u'efec_form_type'],
      dtype='object')

In [3]:
from ethnicolr import census_ln, pred_census_ln

/opt/venv/local/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

**Load and Subset on Individual Contributors**

In [4]:
df = pd.read_csv('/opt/names/fec_contrib/contribDB_2000.csv', usecols=['amount', 'contributor_type', 'contributor_lname', 'contributor_fname', 'contributor_name'])
sdf = df[df.contributor_type=='I'].copy()
rdf2000 = pred_census_ln(sdf, 'contributor_lname', 2000)
rdf2000['year'] = 2000

df = pd.read_csv('/opt/names/fec_contrib/contribDB_2010.csv.zip', usecols=['amount', 'contributor_type', 'contributor_lname', 'contributor_fname', 'contributor_name'])
sdf = df[df.contributor_type=='I'].copy()
rdf2010 = pred_census_ln(sdf, 'contributor_lname', 2010)
rdf2010['year'] = 2010

rdf = pd.concat([rdf2000, rdf2010])
rdf.head(20)

/opt/venv/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,amount,contributor_name,contributor_lname,contributor_fname,contributor_type,race,api,black,hispanic,white,year
102912,180.0,"JOHNSON, KENYIE PAUL",johnson,kenyie,I,white,0.002370,0.364711,0.014732,0.618187,2000
103990,743.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
105298,180.0,"MCCOY, TIMOTHY D",mccoy,timothy,I,white,0.006450,0.292733,0.022897,0.677921,2000
105344,188.0,"WILLIAMS, VICTOR K",williams,victor,I,black,0.001726,0.515756,0.020712,0.461805,2000
105577,211.0,"ELDER, CHESTER H",elder,chester,I,white,0.004245,0.165576,0.033800,0.796379,2000
105659,13000.0,"MACARTHUR, GREG",macarthur,greg,I,white,0.057506,0.028473,0.017616,0.896404,2000
105665,13972.0,"ABELE, CHRIS",abele,chris,I,white,0.012272,0.072357,0.048589,0.866782,2000
105829,15000.0,"PRICE, SOL",price,sol,I,white,0.001978,0.194008,0.008592,0.795422,2000
106029,13600.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
106150,22146.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
106690,813.0,"SHAPP, RICHARD A",shapp,richard,I,white,0.014794,0.109744,0.020067,0.855395,2000
107082,949.0,"WILLIAMS, VICTOR K",williams,victor,I,black,0.001726,0.515756,0.020712,0.461805,2000
109127,1717.0,"HELFRICK, EDWARD W",helfrick,edward,I,white,0.002648,0.020904,0.008069,0.968379,2000
109266,8.0,"MCCOY, TIMOTHY D",mccoy,timothy,I,white,0.006450,0.292733,0.022897,0.677921,2000
109541,24150.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
109586,265.0,"WILLIAMS, VICTOR K",williams,victor,I,black,0.001726,0.515756,0.020712,0.461805,2000
109603,25750.0,"SUTHERLAND, DWIGHT D JR",sutherland,dwight,I,white,0.007970,0.081236,0.015958,0.894836,2000
109664,45795.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
109730,28884.0,"KIRSCH, STEVEN T",kirsch,steven,I,white,0.009365,0.004461,0.019418,0.966756,2000
109731,30000.0,"WOODS, FRED R",woods,fred,I,white,0.000718,0.373277,0.007999,0.618006,2000

###  What proportion of contributions were by blacks, whites, Hispanics, and Asians?

In [32]:
adf = rdf.groupby(['year', 'race']).agg({'contributor_lname': 'count'})
adf.unstack().apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")

### What proportion of the donors were blacks, whites, Hispanics, and Asians?

In [33]:
udf = rdf.drop_duplicates(subset=['contributor_name']).copy()
gdf = udf.groupby(['year', 'race']).agg({'contributor_name': 'count'})
gdf.unstack().apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")

### What proportion of the total donation was given by blacks, whites, Hispanics, and Asians?

In [34]:
bdf = rdf.groupby(['year', 'race']).agg({'amount': 'sum'})
bdf.unstack().apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")

### What if we estimated by using probabilities for race rather than labels?

####  What proportion of contributons were by blacks, whites, Hispanics, and Asians?

In [35]:
rdf['white_count'] = rdf.white
rdf['black_count'] = rdf.black
rdf['api_count'] = rdf.api
rdf['hispanic_count'] = rdf.hispanic
gdf = rdf.groupby(['year']).agg({'white_count': 'sum', 'black_count': 'sum', 'api_count': 'sum', 'hispanic_count': 'sum'})
gdf.apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")

#### What proportion of the donors were blacks, whites, Hispanics, and Asians?

In [36]:
udf['white_count'] = udf.white
udf['black_count'] = udf.black
udf['api_count'] = udf.api
udf['hispanic_count'] = udf.hispanic
gdf = udf.groupby(['year']).agg({'white_count': 'sum', 'black_count': 'sum', 'api_count': 'sum', 'hispanic_count': 'sum'})
gdf.apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")

#### What proportion of the total donation was given by blacks, whites, Hispanics, and Asians?

In [37]:
rdf['white_amount'] = rdf.amount * rdf.white
rdf['black_amount'] = rdf.amount * rdf.black
rdf['api_amount'] = rdf.amount * rdf.api
rdf['hispanic_amount'] = rdf.amount * rdf.hispanic
gdf = rdf.groupby(['year']).agg({'white_amount': 'sum', 'black_amount': 'sum', 'api_amount': 'sum', 'hispanic_amount': 'sum'}) / 10e6
gdf.style.format("{:0.2f}")

In [38]:
gdf.apply(lambda r: r / r.sum(), axis=1).style.format("{:.2%}")